{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="mb-4">Система управления цементным заводом</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Материалы</h5>
                        <p class="card-text">Управление строительными материалами</p>
                        <a href="/materials" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Заводы</h5>
                        <p class="card-text">Управление заводами по производству</p>
                        <a href="/factories" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Рабочие</h5>
                        <p class="card-text">Управление персоналом заводов</p>
                        <a href="/workers" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Заказы</h5>
                        <p class="card-text">Управление производственными заказами</p>
                        <a href="/orders" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Поставщики</h5>
                        <p class="card-text">Управление поставщиками</p>
                        <a href="/suppliers" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 